<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <location>

        <!-- To customize the asp.net core module uncomment and edit the following section. 
    For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->

        <system.webServer xdt:Transform="InsertIfMissing" />
        <system.webServer>
            <security xdt:Transform="InsertIfMissing">
                <!-- Remove the removeServerHeader attribute on requestFiltering if running on IIS 9 or earlier. -->
            </security>
            <security>
                <requestFiltering xdt:Transform="InsertIfMissing" />
                <requestFiltering allowDoubleEscaping="true" xdt:Transform="SetAttributes(allowDoubleEscaping)" />
                <requestFiltering removeServerHeader="true" xdt:Transform="SetAttributes(removeServerHeader)" />
            </security>

            <httpProtocol xdt:Transform="InsertIfMissing" />
            <httpProtocol>
                <customHeaders xdt:Transform="InsertIfMissing" />
                <customHeaders>
                    <remove name="X-Powered-By" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
                </customHeaders>
            </httpProtocol>

            <aspNetCore processPath="">
                <handlerSettings xdt:Transform="InsertIfMissing">
                    <handlerSetting name="shadowCopyDirectory" value="..\runtimeDirectory\" xdt:Transform="InsertIfMissing" />
                    <!-- enable if .NET 7 or later is installed -->
                    <handlerSetting name="enableShadowCopy" value="true" xdt:Transform="InsertIfMissing" />
                    <!-- enable if .NET 6 is installed -->
                    <handlerSetting name="experimentalEnableShadowCopy" value="true" xdt:Transform="InsertIfMissing" />
                    <!-- Only enable handler logging if you encounter issues -->
                    <!--<handlerSetting name="debugFile" value=".\logs\aspnetcore-debug.log" />-->
                    <!--<handlerSetting name="debugLevel" value="FILE,TRACE" />-->
                </handlerSettings>
            </aspNetCore>
        </system.webServer>

    </location>
</configuration>